body {
    text-align: center;
}
div {
    border-radius: 6px;
}
#null {
    border: none;
}
nav li {
    margin-left: 10px;
}
nav {
    background-color: black;
}
nav a {
    color: white;
}
nav a:hover {
    color: white;
}
#myCarousel{
    padding-bottom: 30px;
}
table a {
    color: white;
}
table a:hover {
    color:crimson;
}